@media only screen and (max-width : 1200px) {
 header h1 {
    margin-left: 170px;
 }
 nav {
    padding: 0px;
 }
 nav > ul >li {
    margin-right: 100px;
    font-size: 16px !important ;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

}
/* small tablet to big tablet [from 768px to 1023 */
@media only screen and (max-width : 1023px) {

}
/* small phone to small tablet [ from 481px to 767px] */
@media only screen and (max-width : 767px) {

}
/* small phon screen [from 0 to 480px] */
@media only screen and (max-width : 480px){
}
