* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
font-family:  "Gill Sans",Arial, sans-serif;

}
.about h2,p{
  color: #color: #00ff00;
  text-align: center;
}
.about h2{
  font-style: italic;
  font-weight: bold;

}
.about p{
  line-height: 1.5;
  font-size: 1rem;

}

 .about h2 {
color: blue;
font-family: verdana;
font-size: 300%;

}
.about p  {
color: red;
font-family: courier;
font-size: 160%;
}

.about p {
  border: 1px solid #000;
}



/* contact us */
.contact_us {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(189, 189, 189, 0.3);
}
.contact_us input {
  border: 1px solid #CCCCCC ;
}
textarea {
  border: 1px solid #CCCCCC ;
}
.info *,.message * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact_us h2 {
  margin: 20px 15px;
  margin-bottom: 30px;
}
.submit {
  margin: 5px 15px;
  height: 40px;
  width: 120px;
  font-size: 20px;
  background-color: rgb(65, 65, 138);
}
@media screen and (max-width: 400px) {

  .contact_us div {
    width: 95%;
    margin: 0 auto;
  }

  .info *{
    width: 100%;
    height: 30px;
    font-size: 20px;
  }

  .message * {
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (min-width: 400px) {
  .contact_us {
    padding: 20px;
  }

  .contact_us div {
    width: 95%;
    margin: 0 auto;
  }

  .info *{
    width: 100%;
    height: 30px;
    font-size: 20px;
  }

  .message * {
    width: 100%;
    font-size: 20px;
  }
}
